{% extends 'blog/base.html' %}
{% load static %}
{% load hitcount_tags %}


{% block content %}


<div class="row">


    <div class="sub-title">
        <a href="{% url 'blog:index'%}"><h1>Aşşırı Objektif</h1></a>
        <a href="#" class="btn-header-search"><i class="icon-magnifier"></i></a>
    </div>


    <div class="col-md-12 content-page">

        <!-- Sorting Menu Start -->
        <div class="dropdown">
            <form class="navbar-form navbar-left" action="{% url 'blog:index' %}">
                <div class="form-group">
                    <select class="form-control form-control-sm" name="sort" onchange="this.form.submit()">

                        <option disabled="disabled" selected="selected">Sorting method</option>
                        <option value=-pub_date>Date published (newest)</option>
                        <option value=pub_date>Date published (oldest)</option>
                        <option value=author>Author name (a to z)</option>
                        <option value=topic>Topic name (a to z)</option>

                    </select>
                </div>
            </form>
        </div>
        <!-- Sorting Menu End -->

        <br>
        {% if posts %}
            {% for post in posts %}
                <!-- Blog Post Start -->
                <div class="col-md-12 blog-post">

                    {% if post.post_picture %}

                        <img src="{{ post.post_picture.url}}" alt="" height="350">

                    {% endif %}

                    <div class="post-title">
                        <a href="{% url 'blog:post_detail' post.slug %}"><h2>{{post.title}}</h2></a>
                    </div>

                    <div class="post-info">
                                <span>{{post.pub_date | date}} / In <a href="{% url 'blog:topic_detail' post.topic.slug %}">{{post.topic.name}}</a>
                                    / Author <a href="{% url 'blog:author_detail' post.author.id %}">{{post.author.get_full_name}}</a>
                                    / Views: {% get_hit_count for post %}
                                    / Likes: {{post.vote_total}}
                                </span>
                    </div>

                    <p>{{post.content | safe | truncatewords_html:96}}</p>
                    <a href="{% url 'blog:post_detail' post.slug %}"
                       class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                </div>
                <!-- Blog Post End -->
            {% endfor %}
        {% endif %}


        <div class="col-md-12 text-center">
            <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
            <div id="post-end-message"></div>
        </div>

    </div>

</div>

{% endblock %}
                        
