{% extends 'blog/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}Post - {{post.title}}{% endblock %}

{% block content %}

<div class="row">


    <div class="sub-title">
        <a href="{% url 'blog:index'%}"><h1>Aşşırı Objektif</h1></a>
        <a href="#" class="btn-header-search"><i class="icon-magnifier"></i></a>
    </div>


    <div class="col-md-12 content-page">
        <div class="col-md-12 blog-post">

            {% if post.post_picture %}

                <img src="{{ post.post_picture.url}}" alt=""height="350">

            {% endif %}

            <!-- Post Headline Start -->
            <div class="post-title">
                <h2>{{post.title}}</h2>
            </div>
            <!-- Post Headline End -->


            <!-- Post Detail Start -->
            <div class="post-info">
                <span>{{post.pub_date}} / In <a href="{% url 'blog:topic_detail' post.topic.slug %}">{{post.topic}}</a>
                    / Views: {% get_hit_count for post %}
                    / Likes: <var id="likes">{{post.vote_total}}</var>

                    {% if user == post.author %}
                        / <a href="{% url 'blog:edit_post' post.slug %}">Edit Post</a>
                    {% endif %}


                </span>

            </div>

            {{post.content | safe}}
<i class="fa fa-thumbs-up" id = "thumbs-up"></i>
<i class="fa fa-thumbs-down" id = "thumbs-down"></i>

            <!-- Post Detail End -->

            <!-- Post Author Bio Box Start -->
            <div class="about-author margin-top-70 margin-bottom-50">

                <div class="picture">
                    <img src="{% static 'images/blog/author.png' %}" class="img-responsive" alt="">
                </div>

                <div class="c-padding">
                    <h4>Article By <a
                            href="{% url 'blog:author_detail' post.author.id %}">{{post.author.get_full_name}}</a></h4>
                    <p>You can use about author box when someone guest post on your blog.</p>
                    <!--
                     <ul class="social-icon">
                      <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                     </ul>
                     -->
                </div>
            </div>
            <!-- Post Author Bio Box End -->


            <!-- You May Also Like Start -->
            <div class="you-may-also-like margin-top-50 margin-bottom-50">
                <h3>You May Also Like</h3>
                <div class="row">

                    {% if post.related_posts %}
                        {% for related_post in post.related_posts.all %}

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <a href="{% url 'blog:post_detail' related_post.slug %}"><p>{{related_post.title}}</p></a>
                            </div>

                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            <!-- You May Also Like End -->


        </div>
    </div>

</div>


{% endblock %}


{% block initial_like %}
<script>

{% if voted == 1 %}

    $(document).ready(function() {
        $("#thumbs-up").addClass("liked");

        document.getElementById('thumbs-up').style.color = "darkblue";


    });
{% elif voted == -1 %}

    $(document).ready(function() {
        $("#thumbs-down").addClass("disliked");

        document.getElementById('thumbs-down').style.color = "darkred";

    });

{% endif %}
</script>
{% endblock %}


{% block like_dislike %}
<script>
$(document).ready(function() {
    $("#thumbs-up").click(function(){
        let likes;
        if($(this).hasClass("liked")){

            $.post("{% url 'blog:post_detail' post.slug%}",{"like": 0, 'csrfmiddlewaretoken': '{{ csrf_token }}'});

            $(this).removeClass("liked");

            document.getElementById('thumbs-up').removeAttribute("style");

            likes = parseInt(document.getElementById('likes').textContent);
            likes--;
            document.getElementById('likes').textContent = likes;

        } else {
            $(this).addClass("liked");
            $.post("{% url 'blog:post_detail' post.slug%}",{"like": 1, 'csrfmiddlewaretoken': '{{ csrf_token }}'});

            likes = parseInt(document.getElementById('likes').textContent);
            likes++;
            document.getElementById('likes').textContent = likes;

            document.getElementById('thumbs-up').style.color = "darkblue";

            if($("#thumbs-down").hasClass("disliked")){

                document.getElementById('thumbs-down').removeAttribute("style");
                $("#thumbs-down").removeClass("disliked");
                likes++;
                document.getElementById('likes').textContent = likes;
            }

        }
    });

	$("#thumbs-down").click(function(){
        let likes;
        if($(this).hasClass("disliked")){

            $.post("{% url 'blog:post_detail' post.slug%}",{"like": 0, 'csrfmiddlewaretoken': '{{ csrf_token }}'
            });

            $(this).removeClass("disliked");

            document.getElementById('thumbs-down').removeAttribute("style");

            likes = parseInt(document.getElementById('likes').textContent);
            likes++;
            document.getElementById('likes').textContent = likes;

        } else {
            $(this).addClass("disliked");
            $.post("{% url 'blog:post_detail' post.slug%}",{"like": -1, 'csrfmiddlewaretoken': '{{ csrf_token }}'
            });

            document.getElementById('thumbs-down').style.color = "darkred";

            likes = parseInt(document.getElementById('likes').textContent);
            likes--;
            document.getElementById('likes').textContent = likes;

            if($("#thumbs-up").hasClass("liked")){

                document.getElementById('thumbs-up').removeAttribute("style");

                $("#thumbs-up").removeClass("liked");
                likes--;
                document.getElementById('likes').textContent = likes;
            }
        }
    });

});
</script>
{% endblock %}